<div class="card-container">
    <!-- Card Currículos -->
    <div class="card" (click)="navigateTo('/curriculos')">
        <img src="assets/icon/Curriculos.png" alt="Currículos" />
        <h3>Currículos</h3>
        <p class="card-info">Alteração de dados</p>
    </div>

    <!-- Card Empresas -->
    <div class="card" (click)="navigateTo('/empresas')">
        <img src="/assets/icon/Empresas.png" alt="Empresas" />
        <h3>Empresas</h3>
        <p class="card-info">Auditoria e edição</p>
    </div>

    <!-- Card Vagas -->
    <div class="card" (click)="navigateTo('/vagas')">
        <img src="/assets/icon/Vagas.png" alt="Vagas" />
        <h3>Vagas</h3>
        <p class="card-info">Auditoria e edição</p>
    </div>

    <!-- Card Financeiro -->
    <div class="card" (click)="navigateTo('/financeiro')">
        <img src="/assets/icon/Financeiro.png" alt="Financeiro" />
        <h3>Financeiro</h3>
        <p class="card-info">Gestão financeira</p>
    </div>

    <!-- Card Relatórios -->
    <div class="card" (click)="navigateTo('/relatorio')">
        <img src="/assets/icon/Relatorio.png" alt="Relatório" />
        <h3>Relatórios</h3>
        <p class="card-info">Análiticos, Sintéticos e Cubos</p>
    </div>

    <!-- Card Configurações -->
    <div class="card" (click)="navigateTo('/configuracoes')">
        <img src="/assets/icon/Configuracoes.png" alt="Configurações" />
        <h3>Configurações</h3>
        <p class="card-info">Configurações do sistema</p>
    </div>
</div>
