<div class="card-container">
    <!-- Card Currículos -->
    <a class="card" href="/Curriculos">
        <img src="assets/icon/Curriculos.png" alt="Currículos" />
        <h3>Currículos</h3>
        <p class="card-info">Alteração de dados</p>
    </a>

    <!-- Card Empresas -->
    <a class="card" href="/empresas">
        <img src="/assets/icon/Empresas.png" alt="Empresas" />
        <h3>Empresas</h3>
        <p class="card-info">Auditoria e edição</p>
    </a>

    <!-- Card Vagas -->
    <a class="card" href="/vagas">
        <img src="/assets/icon/Vagas.png" alt="Vagas" />
        <h3>Vagas</h3>
        <p class="card-info">Auditoria e edição</p>
    </a>

    <!-- Card Financeiro -->
    <a class="card" href="/financeiro">
        <img src="/assets/icon/Financeiro.png" alt="Financeiro" />
        <h3>Financeiro</h3>
        <p class="card-info">Gestão financeira</p>
    </a>

    <!-- Card Relatórios -->
    <a class="card" href="/Relatorio">
        <img src="/assets/icon/Relatorio.png" alt="Relatório" />
        <h3>Relatórios</h3>
        <p class="card-info">Análiticos, Sintéticos e Cubos</p>
    </a>

    <!-- Card Configurações -->
    <a class="card" href="/configuracoes">
        <img src="/assets/icon/Configuracoes.png" alt="Configurações" />
        <h3>Configurações</h3>
        <p class="card-info">Configurações do sistema</p>
    </a>
</div>
