<footer class="footer">
    <div class="container">
      <ul class="social-links">
        <li><a href="#" class="whatsapp" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
        <li><a href="#" class="facebook" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="#" class="instagram" target="_blank"><i class="fab fa-instagram"></i></a></li>
        <li><a href="#" class="linkedin" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
      <p class="copy">&copy; 2025 Todos os direitos reservados - Augusto</p>
    </div>
  </footer>
  