<header>
    <nav class="navbar">
        <div class="navbar-logo">
            <img src="/assets/Logo_BNE.png" alt="Logo" />
        </div>
        
        <ul class="navbar-menu">
            <li><a [routerLink]="'/home'">Home</a></li>
            <li><a [routerLink]="'/login'">Login</a></li>
        </ul>
        
        @if (Login === true) {
            <div class="user-container">
                <span class="username">{{ Nome }}</span>
                <img src="/assets/icon/Usuario.png" alt="Foto do perfil do usuário" />
            </div>
        }
    </nav>
</header>