<header>
    <nav class="navbar">
        <!-- Logo -->
        <div class="navbar-logo">
            <img src="assets/Logo_BNE.png" alt="Logo BNE - Banco Nacional de Empregos" />
        </div>
        
        <ul class="navbar-menu">
            <li><a [routerLink]="'Home'">Home</a></li>
            <li><a [routerLink]="'Login'">Login</a></li>
        </ul>

        <!-- Container do Usuário -->
        <div class="user-container">
            <span class="username">{{ Nome }}</span>
            <img src="assets/avatar.png" alt="Foto do perfil do usuário" />
        </div>
    </nav>
</header>