<header>
    <nav class="navbar">
        <!-- Logo -->
        <div class="navbar-logo">
            <img src="/assets/Logo_BNE.png" alt="Logo" />
        </div>
        
        <ul class="navbar-menu">
            <li><a [routerLink]="'/home'">Home</a></li>
            <li><a [routerLink]="'/login'">Login</a></li>
        </ul>

        <!-- Container do Usuário -->
        <div class="user-container">
            <span class="username">{{ Nome }}</span>
            <img src="/assets/icon/icons_user.svg" alt="Foto do perfil do usuário" />
        </div>
    </nav>
</header>